table {
  width: 300px;
}

table thead th {
  background-color: #000;
  color: #fff;
  text-align: left;
}

table tbody tr:nth-of-type(even) td {
  background-color: #bbb;
}

table tbody tr:nth-child(-n+3) td {
  color: red;
}

input {
  width: 100px;
  border: 2px solid #ddd;
  margin: 20px;
  transition: border-color,width .5s;
}

input:focus {
  width: 200px;
  border-color: cornflowerblue;
}

.banner {
  width: 250px;
  height: 150px;
  position: relative;
  overflow: hidden;
  background-color: red;
}

.banner ul{
  margin: 0;
  padding: 0;
}

.banner li{
	display: inline-block;
}

